

/* ---------------- Navbar and burger menu ------------------ */
.nav {
    display: flex;
    justify-content: end;
    scroll-behavior: smooth;
}

.logo{
    margin: 2.8rem 84rem 1rem 0rem;
    position: fixed;
    z-index: 11;
    color: rgb(248,84,40);
    letter-spacing: 4px;
}

.burger-menu {
    position: fixed;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    cursor: pointer;
    gap: 3.5px;
    z-index: 11;
}

.burger-bar {
    width: 2.5em;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.735);
    border-radius: 0.5em;
    z-index: 90;
}

.burger-bar.unclicked:nth-child(1){
    margin: 5px;
}

.burger-bar.unclicked:nth-child(2){
    background-color: rgb(255, 255, 255);
}

.burger-bar.unclicked:nth-child(3){
    margin: 5px;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.792);
    position: fixed;
    z-index: 10;
}

.menu_items{
    list-style: none;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.597);
    cursor: pointer;
}
/* ------------- sliding menu ------------------ */
.hidden {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 19px;
    transform: translateX(-15in);
    transition: ease-out 0.5s;
}

.visible {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 19px;
    transform: translateX(0in);
    transition: ease-out 0.5s;
}

.menu_items:hover{
    color: rgba(255, 255, 255, 0.8);
    transition: ease-in-out 0.5s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.45em, 1.25em);
    transition: ease-out 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.0);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    background-color: rgba(255, 255, 255, 0.8);
    transform: rotate(135deg) translate(0.55em, 0.35em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
